body{
    background:linear-gradient(red,white);
   
    height: 100vh;
   
}
.panel{
    width:55%;
    height:60%;
    background: white;
    position:absolute;
    top:0%;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}
